.header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width:100%;
    height: 30px;
    /* background-color: aqua; */
    
}
.image{
    flex: 1;   
}
.image> .logo {
    object-fit: contain;
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
.header > h1 {
    /* margin-left: 10px; */
    color: white;
    
   
}

.avatar {
    margin-right: 10px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}
 .profilePic {
    cursor: pointer;
    /* visibility: hidden; */
}
.tableIcon {
    margin: 10px;
    cursor: pointer;
    color: white;
}
@media(max-width:550px){
    .header>h1 {
      font-size:large;
      /* color: red; */
    }
    
  }